@{
    ViewData["Title"] = "Главная страница сайта";
}
<div class="background_main">
    <div class="mains_cards">
        <div class="card">
            <p>
                Возможность добавлять
                блюда в избранное
            </p>
        </div>
        <div class="card">
            <p>
                Удобный поиск  блюд
            </p>
        </div>
        <div class="card">
            <p>
                Множество
                рецептов
            </p>
        </div>
        <div class="card">
            <p>
                Удобный и красивый интерфейс
            </p>
        </div>
        <div class="card">
            <p>
                Возможность редактировать профиля
            </p>
        </div>
    </div>

</div>
 

