@{
    ViewData["Title"] = "Главная страница сайта";
}
<div class="background_main">
    <div class="mains_cards">
        <div class="card">
            <p>
                Возможность добавлять
                новые блюда
            </p>
        </div>
        <div class="card">
            <p>
                Множество
                рецептов
            </p>
        </div>
        <div class="card">
            <p>
                Возможность добавлять
                новые блюда
            </p>
        </div>
        <div class="card">
            <p>
                Возможность редактировать
                рецепты
            </p>
        </div>
        <div class="card">
            <p>
                Возможность удалять блюда
            </p>
        </div>
    </div>

</div>
 

